# Build artifacts
build
dist
packages/server/public

# Dependencies
node_modules

# Environment
.env

# IDEs
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store

# Secrets
*.pem
