@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&display=swap');

@import 'tailwindcss';
@plugin 'tailwindcss-animate';


@theme {
    --color-background: oklch(var(--background));
    --color-foreground: oklch(var(--foreground));
    --color-border: oklch(var(--border));
    --color-input: oklch(var(--input));
    --color-ring: oklch(var(--ring));

    --color-primary: oklch(var(--primary));
    --color-primary-foreground: oklch(var(--primary-foreground));

    --color-secondary: oklch(var(--secondary));
    --color-secondary-foreground: oklch(var(--secondary-foreground));

    --color-accent: oklch(var(--accent));
    --color-accent-foreground: oklch(var(--accent-foreground));

    --color-muted: oklch(var(--muted));
    --color-muted-foreground: oklch(var(--muted-foreground));

    --color-caution: oklch(var(--caution));
    --color-caution-foreground: oklch(var(--caution-foreground));

    --color-danger: oklch(var(--danger));
    --color-danger-foreground: oklch(var(--danger-foreground));

    --color-info: oklch(var(--info));
    --color-info-foreground: oklch(var(--info-foreground));

    --color-success: oklch(var(--success));
    --color-success-foreground: oklch(var(--success-foreground));

    --color-popover: oklch(var(--popover));
    --color-popover-foreground: oklch(var(--popover-foreground));

    --color-card: oklch(var(--card));
    --color-card-foreground: oklch(var(--card-foreground));

    --color-sidebar: oklch(var(--sidebar-background));
    --color-sidebar-foreground: oklch(var(--sidebar-foreground));
    --color-sidebar-primary: oklch(var(--sidebar-primary));
    --color-sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground));
    --color-sidebar-accent: oklch(var(--sidebar-accent));
    --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
    --color-sidebar-border: oklch(var(--sidebar-border));
    --color-sidebar-ring: oklch(var(--sidebar-ring));

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    --z-index-modal-backdrop: 9;
    --z-index-modal: 10;
    --z-index-sticky-action: 20;
    --z-index-nav-backdrop: 29;
    --z-index-nav: 30;
    --z-index-alert: 50;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
        }
    @keyframes accordion-up {
        from {
              height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >= theme(--breakpoint-sm)) {
        max-width: none;
    }

    @media (width >= 1400px) {
        max-width: 1400px;
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    :root {
        --background: 100% 0 106.37;
        --foreground: 20.79% 0.0399 265.73;
        --border: 92.9% 0.0126 255.53;
        --input: 92.9% 0.0126 255.53;
        --ring: 71.07% 0.0351 256.79;
        --radius: 0.5rem;

        /*
         * ===============================
         *  Color Palette
         * ===============================
         */

        --primary: 20.79% 0.0399 265.73;
        --primary-foreground: 98.38% 0.0035 247.86;

        --secondary: 96.84% 0.0068 247.9;
        --secondary-foreground: 20.79% 0.0399 265.73;

        --accent: 96.84% 0.0068 247.9;
        --accent-foreground: 20.79% 0.0399 265.73;

        --muted: 96.84% 0.0068 247.9;
        --muted-foreground: 55.47% 0.0407 257.44;

        --caution: 84.08% 0.1724 84.2;
        --caution-foreground: 43.33% 0.0886 86.39;

        --danger: 56.25% 0.197 26.31;
        --danger-foreground: 98.38% 0.0035 247.86;

        --info: 59.28% 0.1588 252.51;
        --info-foreground: 31.6% 0.0757 251.54;

        --success: 73.01% 0.1779 150.14;
        --success-foreground: 38.08% 0.0858 150.98;

        /*
         * ===============================
         *  Component Color Palette
         * ===============================
         */

        --card: 100% 0 106.37;
        --card-foreground: 20.79% 0.0399 265.73;

        --popover: 100% 0 106.37;
        --popover-foreground: 20.79% 0.0399 265.73;

        --sidebar-background: 98.48% 0 0;
        --sidebar-foreground: 37.05% 0.012 285.8;
        --sidebar-primary: 21.03% 0.0059 285.88;
        --sidebar-primary-foreground: 98.48% 0 0;
        --sidebar-accent: 96.76% 0.0013 286.38;
        --sidebar-accent-foreground: 21.03% 0.0059 285.88;
        --sidebar-border: 92.78% 0.0058 264.53;
        --sidebar-ring: 62.32% 0.1879 259.8;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
    code {
        @apply text-black;
    }
}

#root {
    display: flex;
    flex-direction: column;
}
